body {
    overflow-y: scroll;
    background: radial-gradient(circle, #27545f, #393939);
}
.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container {
    height: 100vh;
}
.eletric{
    width: var(--box-area);
    opacity: 30%;
}
.border-box {
    position: absolute;
    width: var(--box-area);
    height: var(--box-area);
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(3, 108, 64, 0.6) 0%, rgba(108, 3, 8, 0) 100%);
}
.controle {
    position: absolute;
    top: -90px;
    width: 200px;
    opacity: 90%;
    border-radius: 20px;
}
.border-inputs {
    width: 80%;
    height: 40%;
}
input {
    width: 100%;
    height: 100%;
    margin: 4px;
    padding: 2px;
    font-size: 16pt;
    text-align: center;
    opacity: 30%;
    border: none;
    border-radius: 10px;
    outline: none;
}
input:focus {
    opacity: 90%;
    box-shadow: 0px 0px 0px 5px rgba(0, 255, 42, 0.575);
}
input#btn {
    opacity: 100%;
    color: white;
    background-color: rgb(13, 7, 43);
    cursor: pointer;
}
.footer-area {
    position: absolute;
    width: 100%;
    bottom: 0;
    border-top: 1px solid white;
}
.logo-governo {
    width: 200px;
}